body{
	margin:  5;
	background:  #B85E77;
	font-family: 'Arial', sans-serif;
	font-weight: bold;


}

.container{
	width: 90%;
	margin:  0 auto;

}

header{
	background: ;

}


nav{

	float: left;

}

nav ul{
font-size: xxx-large;
list-style: none;



}

nav ul li a{

	color: #841A37;
	text-decoration: none;
	text-transform: uppercase;
	
}

nav ul li a:hover{
color: #FAD402;
}



h2{
	text-align:  center;
	font-size: 75px;
	

}


li {
	margin: 10%;
}




