body{
	margin:  5;
	background:  #fbd87f;
	font-family: 'Cinzel Decorative', serif;
	font-weight: bold;


}

h1{
	text-align:  center;
	color: #dd9f00;
	font-size: 75px;
	display: block;
	
	

}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: steelblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h3 {
	text-align:  left;
	color: #251804;
	font-size: 20px;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
}

.p1 {
    color:  #372406;
	text-align: left;
	display: block;
	text-size: 14px;
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;
	line-height: 1.6;
	/* margin-right: 50%; */
}