body{
	margin:  5;
	background:  #32373b;
	background-image: url('images/sonic19.png');
	background-position: right;
	font-family: 'Arial', sans-serif;
	font-weight: bold;


}

.container{
	width: 90%;
	margin:  0 auto;

}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f4d6cc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h2{
	text-align:  center;
	color: #f4b860;
	font-size: 75px;
	margin-bottom: 15%;
	

}

nav{

	float: center;

}

nav ul{
font-size: xxx-large;
text-align: center;
list-style: none;



}

nav ul li a{

	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	
}

nav ul li a:hover{
color: #c83e4d;
font-size: 100px;
transition: font-size 1s ease-out;
}

li {
	margin: 5%;
}