*{
	margin:  5;
	background:  #1E1E24;
	/*background-repeat: space; */
	background-image: url(images/flower-01.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;


}

.container{
	width: 90%;
	margin:  0 auto;

}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #e2a3c7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



h1 {
	color: #FFFFFF;
	font-size:  200px;
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}

audio {
	
    width: 1000px;
    margin-left: 20%;
    margin-bottom: 5%;
}

.title1 {
	color:  #69648d;
	font-family: Arial;
	margin-left: 20%;
	font-size: 40px;
	
}


.h2 {
	
	color:  #FFFFFF;
	text-align: center;
	text-size: 10px;
	margin-right: 20%;
	margin-left: 20%;
}
