body{
	margin:  0;
	background:  #333333;
/*	background-image: url("images/flower-01.png");
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: top right; */
	font-family: 'Roboto', sans-serif;
	


}

.container{
	width: 90%;
	margin:  0 auto;

}

header{
	background: ;

}


nav{

	float: centre;

}

nav ul{
font-size: 50px;
list-style: none;
text-align: center;



}

nav ul li a{

	color: #BA6987;
	text-decoration: none;
	text-transform: uppercase;
	
}

nav ul li a:hover{
color: #7289DA;
}



h1{
	color: #FFE000;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 200px;
}

h2 {
	color: #FFE000;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	font-size: 20px;
	margin-left: 7%;
	margin-top: 10%;
}


li {
	margin: 5%;
}


div.gallery {
  margin: 5px;
  float: left;
  width: 400px;
  margin-left: 7%;
  margin-bottom: 10%;
}

div.gallery:hover {
 font-size: 70px;
 
}

div.gallery img {
  width: 400px;
  height: auto;
}

div.desc {
  padding: 15px;
  color: #FFE000;
  text-align: center;
  font-size: 30px;
  white-space: pre;
}


